extends layout/template.pug

block css
    link(rel='stylesheet', href='/css/global.css')
    link(rel='stylesheet', href='/css/meter.css')
    link(rel='stylesheet', href='/css/problemset.css')
    link(rel='stylesheet', href='/css/problem_difficulty.css')

block content
    div.problemset-search.color-card
        p(style='font-size: 20px; margin: 0px') Hydrogen OJ Problem Set
    div.problemset-list.color-card
        table.problemset-table
            thead
                tr
                    th.problemset-table-status 状态
                    th.problemset-table-pid 题号
                    th.problemset-table-title 题目名称
                    th.problemset-table-tag 标签
                    th.problemset-table-difficulty 难度
                    th.problemset-table-pass 通过率
            tbody
                each item in problem
                    tr
                        td.problemset-table-status -
                        td.problemset-table-pid= item.pid
                        td.problemset-table-title: a(href=`/problem/${item.pid}`)= item.title
                        td.problemset-table-tag
                            each t in item.tag
                                div: span= t
                        td.problemset-table-difficulty: div(class=`problem-difficulty-${item.difficulty}`): span= item.difficulty_name
                        td.problemset-table-pass
                            div.meter(title=`${item.accept}/${item.try}`): div(style=`width: ${item.accept / item.try * 100 || 0}%`)


