doctype html
html
    head
        meta(charset='UTF-8')
        title Hydrogen OJ
        link(rel='shortcut icon', href='/img/logo.jpg', type='image/x-icon')
        link(rel='stylesheet', href='/css/global.css')
        link(rel='stylesheet', href='/css/meter.css')
        link(rel='stylesheet', href='/css/problemset.css')
        link(rel='stylesheet', href='/css/problem_difficulty.css')
    body
        div.container#container
            include includes/leftbar.pug
            div.container-center#container-center
                include includes/topbar.pug
                div.container-main.problemset-main#container-main
                    div.problemset-search
                        p(style='font-size: 20px; margin: 0px') Hydrogen OJ Problem Set
                    div.problemset-list
                        table.problemset-table
                            thead
                                tr
                                    th.problemset-table-status 状态
                                    th.problemset-table-pid 题号
                                    th.problemset-table-title 题目名称
                                    th.problemset-table-tag 标签
                                    th.problemset-table-difficulty 难度
                                    th.problemset-table-pass 通过率
                            tbody
                                each item in problem
                                    tr
                                        td.problemset-table-status -
                                        td.problemset-table-pid= item.pid
                                        td.problemset-table-title: a(href=`/problem/${item.pid}`)= item.title
                                        td.problemset-table-tag
                                            each t in item.tag
                                                span= t
                                        td.problemset-table-difficulty: span(class=`problem-difficulty-${item.difficulty}`)
                                        td.problemset-table-pass
                                            div.meter: div(style=`width: ${item.accept / item.try * 100 || 0}%`)
                include includes/footer.pug