extends layout/template.pug

block css
    link(rel='stylesheet', href='/css/global.css')
    link(rel='stylesheet', href='/css/meter.css')
    link(rel='stylesheet', href='/css/problemlist.css')
    link(rel='stylesheet', href='/css/problem_difficulty.css')

block content
    div.problemlist-search.color-card
        p(style='font-size: 20px; margin: 0px') Hydrogen OJ Problem Set
    div.problemlist-list.color-card
        table.problemlist-table
            thead
                tr
                    th.problemlist-table-status 状态
                    th.problemlist-table-pid 题号
                    th.problemlist-table-title 题目名称
                    th.problemlist-table-tag 标签
                    th.problemlist-table-difficulty 难度
                    th.problemlist-table-pass 通过率
            tbody
                each item in problem
                    tr
                        td.problemlist-table-status -
                        td.problemlist-table-pid= item.pid
                        td.problemlist-table-title: a(href=`/problem/${item.pid}`)= item.title
                        td.problemlist-table-tag
                        - const problem_difficulty = ['尚未评定', '入门', '普及-', '普及/提高-', '普及+/提高', '提高+/省选-', '省选/NOI-', 'NOI/NOI+/CTSC'];
                        td.problemlist-table-difficulty: div(class=`problem-difficulty-${item.difficulty}`): span= problem_difficulty[item.difficulty]
                        td.problemlist-table-pass
                            div.meter(title=`${item.ac_count}/${item.submit_count}`): div(style=`width: ${item.ac_count / item.submit_count * 100 || 0}%`)

