extends layout/template.pug

block css
    link(rel='stylesheet', href='/css/global.css')
    link(rel='stylesheet', href='/css/problem.css')
    link(rel='stylesheet', href='/css/problem_difficulty.css')
    link(rel='stylesheet', href='/css/editormd.min.css')
    link(rel='stylesheet', href='/css/markdown.css')

block js
    script(src='/jquery.min.js')
    script(src='/editormd.min.js')
    script(src='/lib/marked.min.js')
    script(src='/lib/prettify.min.js')

block content
    div.problem-head.color-card
        p.problem-title #{problem.pid} #{problem.title}
        input.problem-button(type='button', value='提交代码')
    div.problem-info.color-card
        p.problem-info-title 题目背景
        div#problem-background: textarea(style='display: none;') #{problem.info.background}
        p.problem-info-title 题目描述
        div#problem-description: textarea(style='display: none;') #{problem.info.description}
        p.problem-info-title 输入格式
        div#problem-input: textarea(style='display: none;') #{problem.info.input}
        p.problem-info-title 输出格式
        div#problem-output: textarea(style='display: none;') #{problem.info.output}
        p.problem-info-title 输入输出样例
        - for (let i = 0; i < problem.info.sample.length; ++i)
            p.problem-info-subtitle 输入样例##{i + 1}
            p #{problem.info.sample[i].input}
            p.problem-info-subtitle 输出样例##{i + 1}
            p #{problem.info.sample[i].output}

append script
    script.
        editormd.markdownToHTML('problem-background', { tex: true });
        editormd.markdownToHTML('problem-description', { tex: true });
        editormd.markdownToHTML('problem-input', { tex: true });
        editormd.markdownToHTML('problem-output', { tex: true });

