extends layout/template.pug

block css
    link(rel='stylesheet', href='/css/global.css')
    link(rel='stylesheet', href='/css/datagrid.css')
    link(rel='stylesheet', href='/css/tag.css')
    link(rel='stylesheet', href='/css/testpoint.css')

block content
    div.card
        p= submission.sid
        p= submission.pid
    div.card
        p.card-title-1 测试点结果
        div.testpoint-pannel
            - const status = ['&nbsp;', 'AC', 'CE', 'OLE', 'RE', 'SE', 'TLE', 'UKE', 'WA', 'PC', 'JE', 'FE', 'TE']
            - for (let testPoint of testPoints)
                li.testpoint-item(class=`testpoint-status-${testPoint.status}`)
                    span.testpoint-item-id= '#' + testPoint.tpid
                    span.testpoint-item-status !{status[testPoint.status]}
                    span.testpoint-item-detail= testPoint.time + 'ms/' + testPoint.space + 'KB'
