extends layout/template.pug

block css
    link(rel='stylesheet', href='/css/global.css')
    link(rel='stylesheet', href='/css/datagrid.css')
    link(rel='stylesheet', href='/css/tag.css')

block content
    div.problemlist-search.card
        p(style='font-size: 20px; margin: 0px') Hydrogen OJ Problem Set
    div.problemlist-list.card
        table.datagrid
            thead
                tr
                    th 评测号
                    th 用户名
                    th 题目
                    th 评测结果
                    th 语言
                    th 时间
                    th 空间
            tbody
                each submission in submissions
                    tr
                        td: a(href=`/submission/${submission.sid}`)= `R${submission.sid}`
                        td.text-center: a(href=`/user/${submission.user.uid}`)= submission.user.username
                        td: a(href=`/problem/${submission.sid}`)= `${submission.problem.pid} ${submission.problem.title}`
                        - const statusText = ['Waiting', 'Accepted', 'Compile Error', 'Unaccepted'];
                        td.text-center: div(class=`tag tag-status-${submission.status}`): span= statusText[submission.status]
                        - const languageName = { 'scratch3': 'Scratch 3', 'cpp98': 'C++ 98', 'cpp03': 'C++ 03', 'cpp11': 'C++ 11', 'cpp14': 'C++ 14', 'cpp17': 'C++ 17', 'cpp20': 'C++ 20' }
                        td.text-center= languageName[submission.language]
                        td.text-center= `${submission.total_time}ms`
                        td.text-center= `${submission.total_space}KB`
        div.page-selector
            a: li.page-top: i.fa.fa-angle-double-left
            a: li.page-last: i.fa.fa-angle-left
            - for (let i = 1; i < 10; ++i)
                a(href=`/submission?page=${i}`): li.page= i
            a: li.page-next: i.fa.fa-angle-right
            a: li.page-end: i.fa.fa-angle-double-right

