extends layout/template.pug

block css
    link(rel='stylesheet', href='/css/tag.css')
    link(rel='stylesheet', href='/css/user.css')
    link(rel='stylesheet', href='/css/markdown.css')
    link(rel='stylesheet', href='/katex/dist/katex.min.css')

block js
    script(src='/showdown/dist/showdown.min.js')
    script(src='/showdown-katex/dist/showdown-katex.min.js')

block content
    div.user-basicinfo.card
        img.user-avatar(src='https://api.paugram.com/gravatar/?replace=retro&email='+user.email)
        div.user-basicinfo-info
            p.user-basicinfo-nickname= user.nickname || user.username
            p.user-basicinfo-description= user.description
            p.user-basicinfo-detail 下北泽 | 24岁 | 男 | 学生
            ul.user-basicinfo-tags.tag-ul
                li HOJ开发团队
                li SCM出题组
        div.user-basicinfo-community
            div
                p.user-basicinfo-community-title 关注了
                p.user-basicinfo-community-value= user.following
            div
                p.user-basicinfo-community-title 关注者
                p.user-basicinfo-community-value= user.follower
    div.user-container
        div.user-selfintroduce.card
            p#information= user.information


block script
    script.
        const converter = new showdown.Converter({
            extensions: [
                showdownKatex({
                    throwOnError: true,
                    delimiters: [
                        { left: '$$', right: '$$', display: true },
                        { left: '$', right: '$', display: false }
                    ]
                })
            ]
        });
        const renderElementId = [
            'information'
        ];
        function renderMarkdown() {
            for (let item of renderElementId) {
                let ele = document.getElementById(item);
                ele.innerHTML = converter.makeHtml(ele.innerHTML);
            }
        }
        window.addEventListener('load', () => renderMarkdown());